<% provide(:title, "About") %>
<h1>About</h1>
<p>
  At the end this will have information about the application but for right now it will contain the moqups page which will go 
  here 
  <a href="#"><em>Moqups</em></a>.
  And also the bitbucket page which will go here
  <a href="https://bitbucket.org/schenkjon122/finalapp/overview"><em>Bitbucket</em>
  Page</a>
  Finally it will contain the heroku page.   <a href="https://softwaresuite.herokuapp.com/"><em>Heroku</em>
  Page</a>
</p>