<% provide(:title, "Home") %>
<div class="center jumbotron">
<h1>Home Page</h1>
<h2>
  This is going to be the homepage. There will be links ^ as well as a login right here. Click here for reference
  <%=link_to "About", about_url %>
</h2>
</div>