<footer class="footer">
  <small>
    This Business Suite</a>
    by <a href="http://www.desktopreport.org/">Jonathan Schenk</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_url %></li>
      <li><%= link_to "Contact", contact_url %></li>
    </ul>
  </nav>
</footer>