    <header class="navbar navbar-fixed-top navbar-inverse">
            <div class="container">
                <%= link_to "Home", root_url, id: "logo"%>
                <nav>
                    <ul class="nav navbar-nav navbar-right">
                        <li><%= link_to "Home", root_url %></li>
                        <li><%= link_to "About", about_url %></li>
                        <% if logged_in? %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <%= current_user.name %>
                            </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Users", '#' %></li>
                                <li class="divider"></li>
                                <li>
                                    <%= link_to "Log out", logout_path, method: "delete" %>
                                </li>
                            </ul>
                        </li>
                        <%else%>
                        <li><%= link_to "Signup", signup_url %></li>
                        <li><%= link_to "Log in", login_url %></li>
                        <%end%>
                    </ul>
                </nav>
            </div>
    </header>